a {
    text-decoration: none;
}

.navbar {
    background-color: #4a4e69;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar .brand {
    display: block;
    color: #f2e9e4;
    padding: 0 24px;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul li a {
    color: #f2e9e4;
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
    background-color: #9a8c98;
}
